//  Footer Styles
//  -----------------------------

.footer {
  background: #F3F2F0;
  .inner {
    .guide {
      padding: 4em 0;
      display: flex;
      justify-content: space-between;
      .guide-item {
        &:first-child {
          width: 15%;
        }
        &:nth-child(2) {
          width: 35%;
        }
        &:nth-child(3) {
          width: 40%;
        }
        a {
          display: block;
        }
      }
    }
    .copyright {
      padding: 1em 0;
      margin: 0 auto;
    }
  }
}
