//	Header
// --------------

header {
	.header-nav-wrap {
		display: flex;
		justify-content: space-between;
		@media #{$mobile} {
			.header-nav {
				display: none;
			}
		}
		@media #{$desktop} {
			.header-nav {
				margin: 0.5em 0;
				li {
					display: inline-block;
					margin-right: 17px;
					vertical-align: top;
					.header-nav__link {
						color: #333;
						font-size: 0.9rem;
						img {
							width: 20px;
						}
					}
				}
			}
		}
		&.home {
			.header-nav {
				li {
					.header-nav__link {
						color: #fff;
					}
				}
			}
		}
	}
}

// Fixed Header
// @media #{$mobile} {
// 	.header-button {
// 		height: 25px;
//     right: 15px;
//     top: 15px;
//     padding: 5px;
//     position: fixed;
//     width: 30px;
// 	}
// 	.sp-header-fixed {
// 	  background: rgba(255,255,255,0.9);
// 		position: fixed;
// 		padding: 10px 15px 5px;
// 		top: -200px;
// 	  width: 100%;
//     z-index: 10;
// 		transition: 0.3s;
// 		.header-button {
// 			top: 20px;
// 		}
// 		.logo {
// 			padding: 3px 0 0;
// 			.logo--primary {
// 				margin: 2px auto 0;
//     		width: 40%;
// 				max-width: 180px;
// 			}
// 		}
// 	}
// 	.sp-header-fixed.is-active {
// 		top: 0;
// 	}
// }


// ハンバーガーメニュー
.ico_humbarger {
  position: absolute;
  background-color: #333;
  width: 20px;
  height: 2px;
  text-align: center;
  display: block;
}
.ico_humbarger--second {
  top: 12px;
}
.ico_humbarger--third {
  top: 19px;
}


.ico_ar:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 6px;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: auto;
  margin-left: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #c0b8b6;
  border-right: 2px solid #c0b8b6;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media #{$desktop} {
	.header-button {
		display: none;
	}
	.sp-header-fixed {
		display: none;
	}
	.pc-header-fixed {
		background-image: none !important;
		background: rgba(255, 255, 255, 0.9);
		margin: 0 0 3.5em;
		padding: 13px 0;
		position: fixed;
		top: -120px;
		z-index: 100;
		transition: 0.3s;
		width: 100%;
	}
	.js-fixed.is-active {
		top: 0;
	}
}

// Global Nav
// @media #{$mobile} {
// 	.nav-global {
// 		background: rgba(255, 255, 255, 0.9);
// 		height: 100%;
// 		position: fixed;
// 		right: -50%;
// 		top: 0;
//     box-shadow: 5px 0px 10px #888;
//     transition: 0.3s;
// 		width: 50%;
// 		z-index: 300;
// 		.nav-global__block {
// 			height: 100%;
// 			text-align: left;
// 			.nav-global__list--title {
// 		    border-bottom: 1px solid #eee;
// 				display: block;
// 				padding: 10px 15px;
// 				.nav-global__text--title {
// 					font-size: 1.2rem;
// 				}
// 				.nav-global__button-close {
// 					font-size: 2.8rem;
// 			    line-height: 0;
// 			    position: absolute;
// 			    right: 20px;
// 			    top: 20px;
// 				}
// 			}
// 			.nav-global__link {
// 		    border-bottom: 1px solid #eee;
// 				clear: both;
// 				display: block;
// 				padding: 10px 15px;
// 				.nav-global__text--secondary {
// 					display: none;
// 				}
// 			}
// 		}
// 		.nav-global__lang {
// 			.nav-global__link {
// 				border: none;
// 				margin-top: 2em;
// 			}
// 		}
// 		.nav-global__close {
// 			font-size: 2rem;
// 			position: absolute;
// 			top: -1px;
// 			right: 0;
// 	    text-align: center;
// 			width: 40px;
// 		}
// 	}
// 	.nav-global--fixed {
// 		display: none;
// 	}
// 	.js-slide.is-active {
// 		right: 0;
// 	}
// 	.js-overlay.is-active {
//     background: rgba(255, 255, 255, 0.6);
//     height: 100%;
//     display: block;
//     position: fixed;
//     top: 0;
//     width: 100%;
// 		z-index: 10;
// 	}
// }
// @media #{$desktop} {
// 	.nav-global {
//     background-position: bottom;
//     background-size: 12px 1px;
//     background-repeat: repeat-x;
// 		margin: 0 0 1.2em;
// 		min-width: 1200px;
// 		text-align: center;
// 		.container {
// 			position: relative;
// 		}
// 		.nav-global__lang {
// 			font-size: 0.9rem;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			.nav-global__link {
// 				border-bottom: 1px solid #666;
// 			}
// 		}
// 		.nav-global__close {
// 			display: none;
// 		}
// 		.nav-global__list {
// 			display: inline-block;
// 			font-size: 0.8rem;
// 			margin: 0 25px;
// 			.nav-global__link {
// 				color: #333;
// 				display: block;
// 				font-size: 0.9rem;
// 				&:hover {
// 					color: #333;
// 				}
// 				.nav-global__text--secondary {
// 			    color: #8e8577;
// 					display: block;
// 					font-size: 0.8rem;
// 				}
// 			}
// 		}
// 		.nav-global__list--title {
// 			display: none;
// 		}
// 	}
// }
// @media #{$medium} {
// 	.nav-global {
// 		min-width: 100%;
// 		.nav-global__list {
// 			margin: 0 1.5em;
// 		}
// 	}
// }

